<!DOCTYPE html>
<html>
  <head>
    <title>Static File Demo</title>

    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
  </head>

  <body>
    <h1>Hello World</h1>
  </body>
</html>